*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

p,
h1,
h2,
h3 {
    color: #adadad;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    box-shadow: none !important;
}

p:hover,
h1:hover,
h2:hover,
h3:hover {
    opacity: 1;
    color: #c8c8c8;

}

.btn:hover,
button:hover {
    opacity: 1;
    color: rgb(4, 195, 4) !important;
    background-color: transparent;
}

.btn:active,
button:active {
    box-shadow: none;
    outline: none;
    transform: scale(0.95);
    color: #ffffff !important;
    background-color: rgb(60, 60, 60);
}

.btn {
    outline: none;
    border-color: transparent;
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

#main-container .container {
    padding-top: 1rem;
}

@media screen and (max-width: 1183px) {
    #main-container {
        min-width: 100vw !important;

    }

    #main-container>.container {
        min-width: 100vw !important;
    }

}

@media screen and (max-width: 767px) {
    body {
        -webkit-filter: blur(20px);
        filter: blur(20px) grayscale(100%);
    }
}

.my_text_container {
    padding: unset;
    height: 80vh;
    display: flex;
    justify-content: space-between;
}

.my_text_container>* {
    max-width: 49%;
}

.left-container::-webkit-scrollbar,
.right-container::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(62, 61, 61);
}

.right-container {
    position: relative !important;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}


#my_input {
    min-height: 10vh !important;
    font-size: 17px;
    overflow-x: auto;
    width: 100%;
}

#my_input:focus {
    outline: none !important;
}

#submit_button,
#access_btn {
    background: unset;
    background: rgb(39, 38, 38);
}

#error_box {
    position: absolute;
    top: 2%;
    padding: .3rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    left: 50%;
    max-height: 50vw;
    font-size: 15px;
    border-radius: .3rem;
    z-index: 2000;
    overflow-y: auto !important;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    transition: all ease-in .3s;
    transform: translate(-50%, 0);
}

#error_box::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(62, 61, 61);
}

#submit_button:focus-within,
#access_btn:focus-within {
    border: unset;
    background: rgb(39, 38, 38, .5);
    outline: unset;
    margin: unset;
}

#submit_button:active,
#access_btn:active {
    color: rgb(3, 189, 3);
    transform: scale(0.99);
    border: 1px solid rgb(29, 29, 29);
    position: relative;
}

.alert-primary {
    background-color: rgba(12, 12, 12, 0.3);
    color: #ffffffe6;
    border: 0 transparent solid;
    border-radius: 1.1rem;
}

.alert-secondary {
    background-color: rgba(10, 10, 10, 0.3);
    color: #ffffffe6;
    border: 0 transparent solid;
    border-radius: 1.1rem;
}

.inner_left_container,
.inner_right_container {
    padding: .5rem;
    overflow-x: hidden !important;
}


.init-quetion,
.init-response,
.db-quetion,
.db-response {
    padding: .8rem;
    cursor: pointer !important;
    border-radius: .5rem;
    font-style: italic;
    transition: all ease-in .1s;
    position: relative;
    overflow: hidden;
    min-width: 100% !important;
}

.flash {
    border-color: transparent;
    -webkit-animation: flicker 4 alternate .1s;
    animation: flicker 1 alternate .07s;
}

@-webkit-keyframes flicker {
    to {
        border-color: #fffefe4d;
    }
}

@keyframes flicker {
    to {
        border-color: #fffefe4d;
    }
}

.db-quetion,
.db-response {
    border: 3px solid rgb(76, 76, 76);
    background: rgb(10, 39, 71, .3);
    width: 100% !important;
    position: relative;
    transition: all .3s;
    margin-top: -1%;
    opacity: 0;
    -webkit-animation: from-upper 1 forwards ease-in .3s;
    animation: from-upper 1 forwards ease-in .3s;
}

@-webkit-keyframes from-upper {
    to {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes from-upper {
    to {
        margin-top: 0;
        opacity: 1;
    }
}

.db-quetion {
    border-bottom: 3px solid transparent;
    position: relative;
    background-color: rgba(10, 10, 10, 0.5);
}

.db-response {
    border-top: 3px solid transparent;
    background-color: rgba(10, 10, 10, 0.5);
}


#single_item {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85%;
    height: 88%;
    z-index: 2100;
    overflow-y: auto;
    margin-top: 2%;
    opacity: 0;
    transition: all .3s;
    letter-spacing: 1px;
    background: transparent;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgb(0, 0, 0, .5);
    transform: translate(-50%, -50%);
    -webkit-animation: from-down infinite forwards ease-in .3s;
    animation: from-down 1 forwards ease-in .3s;
}

@-webkit-keyframes from-down {
    to {
        margin-top: 0%;
        opacity: 1;
    }
}

@keyframes from-down {
    to {
        margin-top: 0;
        opacity: 1;
    }
}

@media screen and (max-width: 1261px) {
    #single_item {
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, .5);

    }
}

#single_item>* {
    opacity: .7;
}

.init-quetion {
    background: rgb(44, 44, 44);
}

.init-response {
    background: rgb(29, 30, 29);
}

.hide {
    display: none !important;
}

.hide_partial {
    opacity: 0 !important;
}

#BTN1 {
    position: relative;
}

._ANIME_ {
    background-color: rgba(14, 13, 13, 0.5);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .3rem;
}

#BTN1>button {
    border: 0 solid transparent;
    font-size: unset;
    box-shadow: none !important
}

#BTN1>button:hover {
    background: rgb(25, 25, 25)
}

.alert_lable {
    margin-top: 0% !important;
    opacity: 1;
    transition: all ease-in 0.5s;
    -webkit-animation: remove_elemnet infinite forwards ease-in 0.5s 2s;
    animation: remove_elemnet infinite forwards ease-in 0.5s 2s;
}

@-webkit-keyframes remove_elemnet {
    to {
        margin-top: -10% !important;

    }
}

@keyframes remove_elemnet {
    to {
        margin-top: -10% !important;

    }
}

/* =======DB loader====== */
.loader_2 {
    width: 100%;
    height: 4.8px;
    display: inline-block;
    position: -webkit-sticky;
    position: absolute;
    background: transparent;
    overflow: hidden;
}

.con_loader::after {
    content: '';
    width: 192px;
    height: 4.8px;
    background: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing: border-box;
    -webkit-animation: animloader_2 2s linear infinite;
    animation: animloader_2 2s linear infinite;
}

@-webkit-keyframes animloader_2 {
    0% {
        left: 0;
        background: rgb(233, 0, 0);
        opacity: 0.5;
        transform: translateX(-100%);
    }

    100% {
        left: 100%;
        opacity: 1;
        background: rgb(0, 255, 76);
        transform: translateX(0%);
    }
}

@keyframes animloader_2 {
    0% {
        left: 0;
        background: rgb(233, 0, 0);
        opacity: 0.5;
        transform: translateX(-100%);
    }

    100% {
        left: 100%;
        opacity: 1;
        background: rgb(0, 255, 76);
        transform: translateX(0%);
    }
}