*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
label:focus,
.btn.active {
    outline: 0px !important;
    box-shadow: none !important;
    background: transparent !important;
}

.btn:hover,
button:hover {
    opacity: 1;
}

#searchBTN:hover {
    color: black;
}

.btn:active,
button:active,
#read_more:active {
    box-shadow: none;
    outline: none;
    transform: scale(0.95);
    outline: unset;
    border-color: unset;
}

.btn {
    outline: none;
    border-color: transparent;
}


.navbar-brand {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

#main-container .container {
    padding-top: 1rem;
}

#submit_form {
    margin-bottom: 1rem;
}

#read_more,
#access_btn,
#submit_button,
#loginFORM {
    box-shadow: 1px 1px 13px black;
    border-radius: .3rem;
    font-size: 1rem !important;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

@media screen and (max-width: 1183px) {
    #main-container {
        min-width: 100vw !important;

    }

    #main-container>.container {
        min-width: 100vw !important;
    }

}

@media screen and (max-width: 455px) {
    body {
        -webkit-filter: blur(20px);
        filter: blur(20px) grayscale(100%);
        background-color: #03001e;
        background: linear-gradient(to right, #fdeff9, #000000, #000000, #03001e);

    }

    #main-container,
    .d-flex,
    .container,
    .navbar,
    .right-container,
    left-container {
        background: #03001e !important;
        background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e) !important;
    }
}

.my_text_container {
    padding: unset;
    height: 80vh;
    display: flex;
    justify-content: space-between;
}

.my_text_container>* {
    max-width: 49%;
}

.left-container::-webkit-scrollbar,
.right-container::-webkit-scrollbar {
    width: 5px;
}

.right-container {
    position: relative !important;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
    max-height: 75vh;
    min-width: 50%;
}

.left-container {
    max-height: 72vh;
    min-width: 50%;
}

.inner_left_container {
    min-height: 70%;
}


#my_input {
    min-height: 8vh !important;
    font-size: 17px;
    overflow-x: auto;
    width: 100%;
    background: rgb(243, 243, 243);
}

#my_input:focus {
    outline: none !important;
}

#submit_button,
#access_btn,
#read_more {
    background: unset;
    color: black
}

#submit_button:focus-within,
#access_btn:focus-within {
    border: unset;
    outline: unset;
    margin: unset;
}

#submit_button:active,
#access_btn:active {
    transform: scale(0.99);
    position: relative;
}

.alert-primary {
    border: 0 transparent solid;
    border-radius: 1.1rem;
}

.alert-secondary {
    border: 0 transparent solid;
    border-radius: 1.1rem;
}

.inner_left_container,
.inner_right_container {
    padding: .5rem;
    overflow-x: hidden !important;
}


.init-quetion,
.init-response,
.db-quetion,
.db-response {
    padding: .8rem;
    cursor: pointer !important;
    border-radius: .5rem;
    font-style: italic;
    transition: all ease-in .1s;
    position: relative;
    overflow: hidden;
    min-width: 100% !important;
}

.db-quetion,
.db-response {
    width: 100% !important;
    position: relative;
    transition: all .3s;
    margin-top: -1%;
    opacity: 0;
    -webkit-animation: from-upper 1 forwards ease-in .3s;
    animation: from-upper 1 forwards ease-in .3s;
}

@-webkit-keyframes from-upper {
    to {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes from-upper {
    to {
        margin-top: 0;
        opacity: 1;
    }
}

.db-quetion {
    position: relative;
    border: 5px solid transparent;
}

.db-response {
    border: 5px solid transparent;
}

#single_item {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 85%;
    height: 88%;
    z-index: 2100;
    overflow: hidden;
    margin-top: 2%;
    opacity: 0;
    transition: all .3s;
    letter-spacing: 1px;
    background-color: #ffffff !important;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    transform: translate(-50%, -50%);
    -webkit-animation: from-down infinite forwards ease-in .3s;
    animation: from-down 1 forwards ease-in .3s;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

@-webkit-keyframes from-down {
    to {
        margin-top: 0%;
        opacity: 1;
    }
}

@keyframes from-down {
    to {
        margin-top: 0;
        opacity: 1;
    }
}

@media screen and (max-width: 1261px) {
    #single_item {
        width: 90%;
        height: 90%;
        background-color: rgba(196, 196, 196);

    }
}

.get-previous,
.get-next {
    background-color: rgb(220, 219, 219, .5);
}

.get-previous:hover,
.get-next:hover {
    background-color: rgba(176, 176, 176, 0.7) !important;
    color: #ffffff;
}

#single_item .card-body>p {
    overflow-y: auto;
    scroll-behavior: smooth;
}

.hide {
    display: none !important;
}

.hide_partial {
    opacity: 0 !important;
}

#BTN1 {
    min-height: 5%;
    position: relative;
    background-color: rgb(255, 255, 255, .7);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


._ANIME_ {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .3rem;
}

#BTN1>button {
    border: 0 solid transparent;
    font-size: unset;
    box-shadow: none !important
}

#BTN1>button:hover {
    background: rgb(234, 232, 232)
}

.alert_lable {
    margin-top: 0% !important;
    opacity: 1;
    transition: all ease-in 0.5s;
    -webkit-animation: remove_elemnet infinite forwards ease-in 0.5s 2s;
    animation: remove_elemnet infinite forwards ease-in 0.5s 2s;
}

/* =================== */
.db-question-response {
    cursor: pointer;
}

.db-question-response,
.init-question-response {
    border: 1px solid #eae9e9;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

.db-question-response p,
.init-question-response p {
    margin-bottom: 0;
    padding: .3rem;
    border-radius: .3rem;

}

.db-question-response p:first-child,
.init-question-response p:first-child {
    background: rgb(234, 233, 233);
    padding-bottom: 1rem;
    border-left: 5px solid #c8c8c8;
}


.db-question-response .link,
.init-question-response .link {
    font-size: 14px;
    padding: .1rem;
    opacity: 0.5;
    background-color: rgb(233, 231, 231);
    border-radius: .3rem;
}

.db-question-response .link.float-end,
.init-question-response .link.float-end {
    opacity: 1;
    font-weight: bold;
}


.db-question-response p:not(:first-child) {
    border-left: 5px solid rgb(0, 128, 0, .2);
    padding-bottom: 1rem;
}

.db-question-response p:first-child {
    background: rgb(234, 233, 233);
    padding-bottom: 1rem;
    border-left: 5px solid #c8c8c8;
}

.init-question-response p:first-child {
    background: rgb(247, 247, 247);
    padding-bottom: .5rem;
    border-left: 3px solid #e3e2e2;
}

.foot_bottom {
    background: red !important;
}

@-webkit-keyframes remove_elemnet {
    to {
        margin-top: -10% !important;

    }
}

@keyframes remove_elemnet {
    to {
        margin-top: -10% !important;

    }
}

/* =======DB loader====== */
.loader_2 {
    width: 100%;
    height: 4.8px;
    display: inline-block;
    position: -webkit-sticky;
    position: absolute;
    background: transparent;
    overflow: hidden;
}

.con_loader::after {
    content: '';
    width: 192px;
    height: 4.8px;
    background: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing: border-box;
    -webkit-animation: animloader_2 2s linear infinite;
    animation: animloader_2 2s linear infinite;
}

@-webkit-keyframes animloader_2 {
    0% {
        left: 0;
        background: rgb(133, 133, 133);
        opacity: 0.5;
        transform: translateX(-100%);
    }

    100% {
        left: 100%;
        opacity: 1;
        background: rgb(0, 255, 76, .5);
        transform: translateX(0%);
    }
}

@keyframes animloader_2 {
    0% {
        left: 0;
        background: rgb(233, 0, 0, .5);
        opacity: 0.5;
        transform: translateX(-100%);
    }

    100% {
        left: 100%;
        opacity: 1;
        background: rgb(0, 255, 76);
        transform: translateX(0%);
    }
}


.flashBTN {
    color: black;
    background-color: rgb(246, 245, 245) !important;
    -webkit-animation: flash-btn infinite forwards ease-in .08s;
    animation: flash-btn infinite alternate-reverse ease-in .08s;
}

@-webkit-keyframes flash-btn {
    to {
        color: rgb(230, 0, 0);
    }
}

@keyframes flash-btn {
    to {
        color: rgb(230, 0, 0);
    }
}

#qn-item {
    max-height: 30% !important;
    background: rgb(230, 229, 229, .5);
    padding: .5rem;
    margin-top: .3rem;
    border-radius: .5rem;
    flex: 1;
    flex-grow: 1;
}

#ans-item {
    max-height: 30% !important;
    overflow-y: auto !important;
    flex: 1;
    flex-grow: 1;
}

.single-carocel-btn>a {
    text-align: center;
    padding: .4rem;
    min-width: 60px;
    border-radius: .4rem;
    text-align: center;
    text-decoration: none;
    color: black;
}

.single-carocel-btn a {
    opacity: .2;
}


.single-carocel-btn a:first-child:hover {
    opacity: 1;
}

.single-carocel-btn a:not(:first-child):hover {
    opacity: 1;
}



.single-carocel-btn a:first-child:active {
    margin-left: -.1rem;
}

.single-carocel-btn a:not(:first-child):active {
    margin-right: -.1rem;
}